.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: #ff0000 3px solid;
}

.error-message {
  color: red
}
paint
.active-filter {
  background-color: #ff42cd;
}

.is-done {
  opacity: 0.5;
}